#wrapper_profile_form {
  height: 90%;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 16px;
}

#wrapper_profile_form_header {
  width: 35%;
  background: url("../../images/bball_silhouette.png") no-repeat center/contain;
}

#wrapper_profile_form_main {
  width: 60%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 15px;
  background-color: #dddddd;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

#title_profile_form {
  /* align-self: center; */
  font-size: 28px;
  font-weight: 700;
  color: #0d98af;
  font-family: "BioRhyme", serif;
  text-shadow: 2px 2px 4px #dddddd;
  line-height: 52px;
  margin-bottom: 32px;
  /* text-shadow: 1px 1px 2px black, 0 0 25px #0fb3ff, 0 0 5px rgb(1, 53, 165); */
}

#wrapper_header_form_profile_form {
  margin-bottom: 32px;
}

#header_mobile_profile_form {
  background: url("../../images/bball_fire.png") no-repeat center/contain;
  align-self: center;
  width: 100px;
  min-height: 100px;
  margin-bottom: 16px;
  display: none;
}

#header_form_profile_form {
  font-size: 18px;
  font-family: "Space Mono", monospace;
  color: #333333;
}

#underline_decoration {
  width: 28px;
  height: 3px;
  background-color: darkgray;
}

#form_profile_form {
  display: flex;
  flex-direction: column;
}

.form_group {
  width: 100%;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.form_field {
  width: 43%;
}

.form_field_full {
  width: 100%;
}

.form_field_title {
  font-size: 12px;
  color: #0d98af;
  /* font-weight: bold; */
  line-height: 14px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}

.input__form_field {
  border-bottom: 2px solid #95929497;
  border-top: none;
  border-left: none;
  border-right: none;
  /* margin-left: 8px; */
  padding: 0px 0 12px;
  /* text-indent: 16px; */
  font-size: 1em;
  outline: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
}

#wrapper_recent_photo_img {
  /* height: 100px; */
  cursor: pointer;
}

#img_recent_photo {
  border-radius: 1px;
  width: 100px;
  height: 100px;
  /* display: block; */
  box-shadow: 2px 8px 20px #00000040;
  background-color: white;
  /* margin: 8px; */
}

#image_picker_recent_photo {
  display: none;
}

.wrapper_throwback_photos {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.wrapper_throwback_photo {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  width: 150px;
  /* background-color: white; */
  border-radius: 1px;
  /* box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4); */
  margin-right: 8px;
  margin-bottom: 8px;
}

.img_throwback_photo {
  width: 150px;
  height: 150px;
  background-color: white;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.btn_add_throwback {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  background-color: white;
}

#image_picker_throwback_photo {
  display: none;
}

#btn_submit_profile_form {
  width: auto;
  align-self: flex-end;
  text-align: center;
  background-color: #0d98af;
  border: 1px solid transparent;
  color: white;
  padding: 10px 36px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-radius: 36px;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.textarea__throwback_photo_comment {
  width: 100%;
  /* display: block; */
  margin-top: 4px;
  border: 0.5px solid lightgray;
  padding: 8px;
  /* text-indent: 16px; */
  box-sizing: border-box;
  font-size: 10px;
  line-height: 14px;
  outline: none;
}

/*----------------------------
------------------------------
-------- MOBILE ONLY --------
------------------------------
----------------------------*/

@media only screen and (max-width: 480px) {
  #wrapper_profile_form {
    width: 95%;
  }

  #wrapper_profile_form_header {
    display: none;
  }

  #wrapper_profile_form_main {
    width: 100%;
    padding: 20px;
  }

  #header_mobile_profile_form {
    display: initial;
  }

  #title_profile_form {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  #header_form_profile_form {
    font-size: 16px;
  }

  #underline_decoration {
    margin-top: 2px;
  }

  .form_group {
    margin-bottom: 28px;
  }

  .form_field {
    width: 47%;
  }

  .wrapper_throwback_photo {
    width: 100px;
  }

  .img_throwback_photo {
    width: 100px;
    height: 100px;
  }

  .btn_add_throwback {
    width: 100px;
    height: 100px;
  }

  #btn_submit_profile_form {
    padding: 8px 42px;
  }
}
