#wrapper_main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(rgba(5, 40, 68, 0.9), rgba(5, 40, 68, 0.9)),
    url("../images/bball_silhouette_desktop.jpg") no-repeat center/cover;
  --default-padding: calc((100vw / 1920) * 100);
}

/*----------------------------
------------------------------
-------- MOBILE ONLY --------
------------------------------
----------------------------*/

@media only screen and (max-width: 480px) {
}
