#wrapper_portal {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

#wrapper_portal_filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#form_portal_filter_query {
  display: flex;
  justify-content: flex-end;
}

#input_portal_filter {
  border: 0.5px solid lightgray;
  border-radius: 2px;
  margin-right: 8px;
  padding: 4px 0;
  text-indent: 8px;
  font-size: 1em;
  outline: none;
  width: 49%;
}

#btn_portal_filter {
  text-align: center;
  background-color: #0f52ba;
  border: 1px solid transparent;
  color: white;
  font-size: 1em;
  border-radius: 2px;
  padding: 4px 16px;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

#wrapper_veterans_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px 0;
  --wrapperWidth: calc(100vw - 32);
  --numItems: calc(var(--wrapperWidth) * 0.0031779661);
  --itemWidth: calc(var(--wrapperWidth) / var(--numItems));
}

.wrapper_veteran {
  /* width: var(--itemWidth); */
  display: flex;
  /* flex: 1 1 auto; */
  /* justify-content: space-between; */
  padding: 16px;
  background-color: #dddddd;
  border-radius: 5px;
  margin-right: 16px;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.wrapper_veteran:hover {
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(170, 48, 48, 0.14),
    0 18px 27px 0 rgba(0, 0, 0, 0.12), 0 8px 11px -2px rgba(0, 0, 0, 0.4);
  transform: translateY(2px) translateX(1px);
}

.wrapper_veteran_header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 16px;
}

.img_veteran_profile_pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
  border: 1.5px solid #dddddd;
}

.title_veteran_name {
  font-size: 18px;
}

.wrapper_veteran_details {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.wrapper_veteran_nuga_years {
  font-size: 14px;
  margin-bottom: 4px;
}

.wrapper_veteran_jersey_positions {
  font-size: 14px;
}

/*----------------------------
------------------------------
-------- MOBILE ONLY --------
------------------------------
----------------------------*/

@media only screen and (max-width: 480px) {
  #wrapper_veterans_list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
  }

  .wrapper_veteran {
    margin-right: initial;
    margin-bottom: 16px;
  }

  .wrapper_veteran:hover {
    transform: initial;
  }

  .img_veteran_profile_pic {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
  }

  .title_veteran_name {
    font-size: 16px;
  }

  .wrapper_veteran_nuga_years {
    font-size: 12px;
  }

  .wrapper_veteran_jersey_positions {
    font-size: 12px;
  }
}
